body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(27, 26, 26);
    text-align: center;
    color: rgb(54, 50, 50);
}

#logo{
    height: 40px;
}

.card {
    background-color: #BEB8B8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180%;
    border: 18px solid #646060;
    border-radius: 50px 50px 50px 0;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(236, 18, 18, 0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(71, 255, 80, 0.795);
    box-shadow: -4px -3px 45px 21px rgba(29, 255, 59, 0.281);
}

.card-body {
    height: 40rem;
}

div.characterImage {
    width: 102%;
    border-radius: 52px;
}

div.characterText {
    text-align: left;
}

.card-img-top {
    border-radius: 30px 30px 30px 0;
    border: 18px solid #646060;
    position: relative;
    opacity: 0.9;
}

.dropdown {
    height: 40px;
    margin: 20px;
    font-size: larger;
}

#gameboyLogo {
    height: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gbButton {
    background-color: rgb(129, 33, 138);
    border: 20px;
    border-radius: 40px;
    width: 15%;
    counter-reset: white;
}

.buttonA {
    position: relative;
    left: 65%;
}

.buttonB {
    position: relative;
    left: 85%;
}

.dPad {
    width: 25%;
    position: relative;
    float: left;
    top: -50px;
}